header{
    background-color: #000; height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    padding: 0 100px;
}
header h1{width: 260px;}
header img{width: 100%;}
header nav .gnb{
    display: flex;
}
header nav .gnb > li {
    margin-right: 60px;
}
header nav .gnb > li:last-child{margin-right: 0;}
header nav .gnb > li a{
    color: #fff;
    font-size: 1.13em;
    letter-spacing: 0.02em;
}
header nav .gnb > li a span{
    color: #44d62c;
    margin: 10px;
}
header .lnb{display: flex;}
header .lnb > a{
    margin-right: 35px;
    width: 24px;
}
header .lnb > a:last-child{margin-right: 0;}
header .lnb a > img{width: 100%;}
footer{
    background: #000;
}
footer li{color: #fff;}
footer .f_top{
    display: flex;

}
footer .f_top .f_top_left{}
footer .f_top .f_top_left h1{}
footer .f_top .f_top_left h1 img{}
footer .f_top .f_top_left ul{}
footer .f_top .f_top_left .info{}
footer .f_top .f_top_left ul li{}
footer .f_top .f_top_right{
    display: flex;
}
footer .f_top .f_top_right ul{}
footer .f_top .f_top_right ul li{}
footer .f_top .f_top_right .bank{}
footer .f_top .f_top_right .bank .title{}
footer .f_top .f_top_right .menu{}
footer .f_top .f_top_right .menu .title{}
footer .f_top .f_top_right .customer{}
footer .f_top .f_top_right .customer .title{}
footer .f_top .bar{}
footer .f_bottom{
    display: flex;
}
footer .f_bottom .f_bottom_left{
    display: flex;
}
footer .f_bottom .f_bottom_left ul{}
footer .f_bottom .f_bottom_left ul li{}
footer .f_bottom .f_bottom_left .privacy{}
footer .f_bottom .f_bottom_left .privacy .privacy_link{}
footer .f_bottom .f_bottom_left .privacy .privacy_link a{}
footer .f_bottom .f_bottom_right{
    display: flex;
}
footer .f_bottom .f_bottom_right ul{}
footer .f_bottom .f_bottom_right ul li{}
footer .f_bottom .f_bottom_right ul li a{}
footer .f_bottom .f_bottom_right ul li a img{}
footer .f_bottom .f_bottom_right .sns{}